/* Reseteo esencial */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  width: 100%;
  height: 100%;
  font-family: 'Inter', sans-serif;
  background-color: #000; /* fallback */
}

/* Evitar scroll raro */
body {
  overflow-x: hidden;
}
